
{% load i18n %}
{% load allauth account %}

<link rel="stylesheet" href="/static/account/css/confirm_login_code.css">
{% include 'home/headerbase.html' %}

{% block content %}
<div class="sign-in-code-container">
    <h1>{% translate "Digite o Código de Acesso" %}</h1>

    <p>
        {% blocktranslate %}Enviamos um código para <a href="mailto:{{ email }}">{{ email }}</a>. 
        O código expira em breve, então insira-o o quanto antes.{% endblocktranslate %}
    </p>

    <form method="post" action="{% url 'account_confirm_login_code' %}" class="login-code-form">
        {% csrf_token %}
        <div class="input-group">
            {{ form.code.label_tag }}
            {{ form.code }}
        </div>

        {{ redirect_field }}

        <div class="actions">
            <button type="submit" class="btn-login">{% translate "Entrar" %}</button>
            <button type="submit" form="logout-from-stage" class="btn-cancel">{% translate "Cancelar" %}</button>
        </div>
    </form>

    <form id="logout-from-stage" method="post" action="{% url 'account_logout' %}">
        <input type="hidden" name="next" value="{% url 'account_login' %}">
        {% csrf_token %}
    </form>
</div>
{% endblock content %}
{% include 'pollenvision/partials/_footer.html' %}
