
{% load i18n %}
{% load allauth account %}

<link rel="stylesheet" href="/static/account/css/email_verification.css">
{% include 'home/headerbase.html' %}



{% block content %}
<div class="email-verification-container">
    <h1>{% translate "Digite o Código de Verificação" %}</h1>

    <p>
        {% blocktranslate %}Enviamos um código para <a href="mailto:{{ email }}">{{ email }}</a>. 
        O código expira em breve, então insira-o o mais rápido possível.{% endblocktranslate %}
    </p>

    <form method="post" action="{% url 'account_email_verification_sent' %}" class="verification-form">
        {% csrf_token %}
        <div class="input-group">
            {{ form.code.label_tag }}
            {{ form.code }}
        </div>

        {{ redirect_field }}

        <div class="actions">
            <button type="submit" class="btn-confirm">{% translate "Confirmar" %}</button>
            
            {% if cancel_url %}
                <a href="{{ cancel_url }}" class="btn-cancel">{% translate "Cancelar" %}</a>
            {% else %}
                <button type="submit" form="logout-from-stage" class="btn-cancel">{% translate "Cancelar" %}</button>
            {% endif %}
        </div>
    </form>

    {% if not cancel_url %}
        <form id="logout-from-stage" method="post" action="{% url 'account_logout' %}">
            <input type="hidden" name="next" value="{% url 'account_login' %}">
            {% csrf_token %}
        </form>
    {% endif %}
</div>
{% endblock content %}
{% include 'pollenvision/partials/_footer.html' %}