{% load allauth i18n %}


<link rel="stylesheet" href="/static/account/css/logout.css">
{% include 'home/headerbase.html' %}
{% block content %}
<div class="logout-container">
    <h1>{% trans "Sair" %}</h1>
    <p>{% trans "Tem certeza de que deseja sair?" %}</p>

    {% url 'account_logout' as action_url %}
    <form method="post" action="{{ action_url }}" class="logout-form">
        {% csrf_token %}
        {{ redirect_field }}

        <button type="submit" class="btn-logout">
            {% trans "Sair" %}
        </button>
    </form>
</div>
{% endblock content %}
{% include 'pollenvision/partials/_footer.html' %}