<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PollenVision</title>
    <link rel="stylesheet" href="/static/home/css/style.css">
    <link rel="stylesheet" href="/static/home/css/header.css">
</head>
<body>

    {% include 'home/headerbase.html' %}

    <main>
        <section class="hero">
            <div class="hero-text">
                <h1>Transformando a análise da viabilidade do pólen</h1>
                <p>Revolucionando o setor agrícola com tecnologia avançada de aprendizado profundo.</p>
            </div>
            <div class="hero-image">
                <img src="/static/home/img/hero_logo.png" alt="PollenVision">
            </div>
        </section>
        <!-- Não tempos Clientes, temos O CLIENTE entao...
        <section class="clientes">
            <h2>Nossos Clientes</h2>
            <div class="clientes-container">
                <div class="cliente-card">
                    <img src="bayer.png" alt="Bayer">
                    <p>Precisão e velocidade incríveis!</p>
                </div>
                <div class="cliente-card">
                    <img src="cliente.png" alt="Cliente">
                    <p>Tecnologia revolucionária para a indústria</p>
                </div>
            </div>
        </section>
        --> 
        <section id='produtos' class="produto">
            <h2>Nosso Produto</h2>
            <p>Soluções de hardware e software de última geração para análise instantânea de pólen.</p>




            
            <div class="produto-container">
                <div class="produto-card">
                    <img src="/static/home/img/polen.png" alt="Analisador de imagens de campo">
                    <p>Analisador de imagens de campo</p>
                    <h1>Capture e analise imagens de pólen</h1>
                </div>
                <div class="produto-card">
                    <img src="/static/home/img/polen_filter.png" alt="Algoritmo de Aprendizado Profundo">
                    <p>Algoritmo de Aprendizado Profundo</p>
                    <h1>Análise rápida e precisa do pólen</h1>
                </div>
              
            </div>
        </section>

        <section id='equipe' class="team">
            <h2>Nosso time</h2>
            <div class="team-container">
                <div class="team-member">
                    <img src="/static/home/img/daniel.png" alt="Dr. Daniel Costa">
                    <p>Dr. Daniel Costa <br> Orientador</p>
                </div>
                <div class="team-member">
                    <img src="/static/home/img/igor.png" alt="Igor Rafael">
                    <p>Igor Rafael <br> Coordenador</p>
                </div>
                <div class="team-member">
                    <img src="/static/home/img/hebert.png" alt="Hebert Henrique">
                    <p>Hebert Henrique <br> CEO</p>
                </div>
                <div class="team-member">
                    <img src="/static/home/img/alero.jpg" alt="Aurélio José">
                    <p>Aurélio José <br> CDO</p>
                </div>
                <div class="team-member">
                    <img src="/static/home/img/filipe.png" alt="Filipe Alves">
                    <p>Felipe Alves<br> CTO</p>
                </div>
                <div class="team-member">
                    <img src="/static/home/img/alysson.png" alt="Alysson J. Alves">
                    <p>Alysson J. Alves <br> CBO</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2022 Pollen Vision. All rights reserved.</p>  
        <a href="#">Política de Privacidade</a>
        <a href="#">Termos de serviço</a>
       
    </footer>

    <script>
            document.getElementById('menu-toggle').addEventListener('click', function() {
        var navLinks = document.getElementById('nav-links');
        navLinks.classList.toggle('active');
    });
    </script>

</body>
</html>
