{% load static %}
<header>
<nav>
    <div class="logo">
        <a href="#">
            <img src="/static/pollenvision/img/logo.png" alt="PollenVision">
 <span>PollenVision</span>
        </a>
    </div>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Equipe</a></li>
        <li><a href="#">Contato</a></li>
        <li><a href="#">Sair</a></li>
    </ul>
</nav>
</header>
<div id="menu-container">
    <nav class="menu-lateral_navegacao" id="menuLateral">
        <a href="#"> <img src="/static/pollenvision/img/Menu-Lateral/1-icon.svg" alt=""> 
            <span class="menu-lateral_navegacao_icon">Painel</span>
        </a>
        <a href="#"> <img src="/static/pollenvision/img/Menu-Lateral/1-icon.svg" alt="">
            <span class="menu-lateral_navegacao_icon">Enviar imagens</span>
        </a>
        <a href="#"> <img src="/static/pollenvision/img/Menu-Lateral/1-icon.svg" alt="">
            <span class="menu-lateral_navegacao_icon">Análise de resultados</span>
        </a>
        <a href="#"> <img src="/static/pollenvision/img/Menu-Lateral/1-icon.svg" alt="">
            <span class="menu-lateral_navegacao_icon">Histórico de Análise</span>
        </a>
        <a href="#"> <img src="/static/pollenvision/img/Menu-Lateral/1-icon.svg" alt="">
            <span class="menu-lateral_navegacao_icon">Configurações</span>
        </a>
        <a href="#"> <img src="/static/pollenvision/img/Menu-Lateral/1-icon.svg" alt="">
            <span class="menu-lateral_navegacao_icon">Relatórios</span>
        </a>
        <a href="#"> <img src="/static/pollenvision/img/Menu-Lateral/1-icon.svg" alt="">
            <span class="menu-lateral_navegacao_icon">Ajuda e Suporte</span>
        </a>
    </nav>
    <div id="toggleMenu" onclick="toggleMenu()">&#9776;</div> 
</div>

