{% load static %}
<header>
    <nav>
        <div class="logo">
            <a href="#">
                <img src="/static/home/img/logo.png" alt="PollenVision">
                <span>PollenVision</span>
            </a>
        </div>
        <div class="menu-hamburguer" id="menu-toggle">
            &#9776;
        </div>
        <ul id="nav-links">
            <li><a href="/pollenvision/dashboard">Dashboard</a></li>
            <li><a href="/pollenvision/upload">Upload</a></li>
            <li><a href="/pollenvision/resultado">Resultado</a></li>
            <li><a href="{% url 'account_logout' %}">Sair</a></li>
          
        </ul>
    </nav>
</header>
<div id="menu-container">
    <nav class="menu-lateral_navegacao" id="menuLateral">
        <a href="/pollenvision/dashboard">
            <i class="fas fa-tachometer-alt"></i>
            <span class="menu-lateral_navegacao_icon">Painel</span>
        </a>
        <a href="/pollenvision/upload">
            <i class="fas fa-upload"></i>
            <span class="menu-lateral_navegacao_icon">Enviar imagens</span>
        </a>
         <!-- 
        <a href="/pollenvision/resultado">
            <i class="fas fa-chart-line"></i>
            <span class="menu-lateral_navegacao_icon">Análise de resultados</span>
        </a>
        -->
        <a href="/pollenvision/historico">
            <i class="fas fa-history"></i>
            <span class="menu-lateral_navegacao_icon">Histórico de Análise</span>
        </a>
         <!-- 
        <a href="#">
            <i class="fas fa-cog"></i>
            <span class="menu-lateral_navegacao_icon">Configurações</span>
        </a>
         -->
        <a href="/pollenvision/relatorios">
            <i class="fas fa-file-alt"></i>
            <span class="menu-lateral_navegacao_icon">Relatórios</span>
        </a>
        <a href="/pollenvision/suporte">
            <i class="fas fa-life-ring"></i>
            <span class="menu-lateral_navegacao_icon">Ajuda e Suporte</span>
        </a>
    </nav>
    
    <div id="toggleMenu" onclick="toggleMenu()">&#9776;</div> 
</div>

