.upload_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-color: #f4f4f4;
}

.upload_container_titulo {
    text-align: center;
    margin-bottom: 30px;
}

.upload_container_titulo h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.upload_container_titulo p {
    color: #666;
    font-size: 1rem;
}

.upload_container_up {
    width: 100%;
    max-width: 900px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    height: 400px;
    display: flex;
    align-items: center;
}

/* Área de upload (arraste e solte) */
.upload_container_arrasta {
    background-color: #28a745;
    padding: 40px;
    border-radius: 10px;
    border: 2px dashed #fff;
    text-align: center;
    cursor: pointer;
    height: 300px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload_container_arrasta:hover {
    background-color: #218838;
}

.upload_container_arrasta img {
    max-width: 50px;
    margin-bottom: 10px;
    margin-top: 60px;
}

.upload_container_arrasta p {
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #28a745;
}

.upload_container_up_button {
    display: flex;
    justify-content: center;
}

.upload_container_up_button button {
    background-color: #28a745;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form_up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.form_up_campos {
    flex: 2; 
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.form_up_campos_campo {
    margin-bottom: 15px;
}

.form_up_campos label {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
}

.form_up_campos input[type="text"],
.form_up_campos input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.upload_container_up_button {
    margin-top: 20px;
    text-align: right;
}

.upload_container_up_button button {
    background-color: #171F22; /* Altere esta linha para a cor desejada */
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 48px;
    width: 240px;
    transition: background-color 0.3s;
}

.upload_container_up_button button:hover {
    background-color: #2A2F35; /* Cor de hover do botão */
}