@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #1c1c1c;
    padding: 10px 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.menu-hamburguer {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.close-btn {
    display: none;
}


@media (max-width: 768px) {
    .menu-hamburguer {
        display: block;
    }

    #nav-links {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 250px;
        background-color: #1c1c1c;
        padding-top: 60px;
        z-index: 1;
        text-align: center;
        transition: right 0.3s ease;
    }

    #nav-links.active {
        right: 0;
        display: flex;
    }

    #nav-links li {
        margin-bottom: 20px;
    }

    .close-btn {
        display: block;
        background: none;
        border: none;
        color: #fff;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 20px;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.logo a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav span {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    font-size: 20px;
}
