{% extends 'pollenvision/base.html' %}
{% block content %}
    <main>
        <section class="hero">
            <div class="hero-text">
                <h1>Bem-vindo à Pollen Vision</h1>
                <p>Transformando a análise de viabilidade do pólen com tecnologia de ponta</p>
            </div>
            <div class="hero-image">
                <img src="/static/pollenvision/img/logo_grande.svg" alt="PollenVision">
            </div>
        </section>
    </main>
<style>
 .hero {
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 30px;
    background-color: #f4f4f4;
}

.hero-text {
    max-width: 50%;
    padding: 50px;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.2rem;
}

.hero-image img {
    width: 500px;
    border-radius: 15px;
}

</style>
{% endblock %}